body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
  .hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../medios/fondo-principal.jpg') center/cover no-repeat;
  }
  
  .hero-small {
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../medios/fondo-chico.jpg') center/cover no-repeat;
  }
  
  h1, h2 {
    font-weight: 700;
  }
  
  footer {
    font-size: 0.9rem;
  }

  body {
    background-image: url('../medios/img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
  }
