body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #57651c;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #57651c;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ffc107;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px; /* Espacio entre las secciones */
}

section h2 {
    color: #0056b3;
}

footer {
    background-color: #57651c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
