// VARIABLES //
$primary-color: #2d764d;
$secondary-color: #ffffff;
$accent-color: #0d1b2a;
$text-color: #222;
$hover-bg: #ffffff;
$hover-color: #000000;
$footer-bg: #2d764d;
$footer-text: #ffffff;
$button-bg: #1b263b;
$button-hover: #415a77;
$shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$transition: 0.3s ease;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;